@media screen and (max-width:650px){
    form input{
        width: 200px;
    }

    .car{
        width: 300px;
        height: 300px;
    }
 
    .foto-usuario img{
        width: 80px;
        height: 80px;
    }
    
}